@import "_typography.scss";

body {
  background-color: $second-color;
  color: $bodytext;
  
}

h2 {
  /* Made by Us. Made for: */
  font-family: HelveticaNeue-Thin;
  font-size: 38px;
  color: $bodytext;
  line-height: 46px;
}