footer
  p copyright 2015 
//- This will only load in Googlefonts is specified in the config file
if GoogleFonts
  link(href='//fonts.googlefonts.com/css?family=' + GoogleFonts, rel='stylesheet', type='text/css')
script(src='assets/js/post.js')
script new WOW().init();
