.navlink
  p 
    a.showmenu(href='#') 
      | Menu 
    //- &:hover
    //-   color white
    //-   border-bottom 1px solid primary
include nav
.container
  h2.wow.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s')
    | Designed 
    span with
    |  Standards
