.serviceicons
  section
    h2 Why Reinvent the Wheel?
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui assumenda id incidunt, mollitia provident officiis veniam aliquid illum nostrum delectus, culpa aspernatur asperiores quae repellat libero voluptas. Ullam dignissimos corporis ducimus repellat nemo iusto molestiae eius recusandae sit, eligendi quod doloremque quos, consectetur impedit laudantium, doloribus aliquid voluptatem obcaecati? Quod odio, harum ut ducimus placeat temporibus, rem sint ipsam facere possimus minus corporis, est repellendus quasi! Animi.
  ul#scroller.simply-scroll
    li.appstore
      img(src="assets/images/icons/appstore_logo.svg", alt="AppStore")
    li.html5
      img(src="assets/images/icons/html5_logo.svg", alt="HTML5")
    li.jekyll
      img(src="assets/images/icons/jekyll_logo.svg", alt="Jekyll")
    li.kirby
      img(src="assets/images/icons/kirby_logo.svg", alt="Kirby")
    li.mailchimp
      img(src="assets/images/icons/mailchimp_logo.svg", alt="Mailchimp")
    li.ror
      img(src="assets/images/icons/rubyonrails_logo.svg", alt="Ruby on Rails")
    li.shopify
      img(src="assets/images/icons/shopify_logo.svg", alt="Shopify")
    //- li
    //-   img.sketch(src="assets/images/icons/sketch_icon.svg", alt="Sketch")
    li.wordpress
      img(src="assets/images/icons/wordpress_logo.svg", alt="WordPress")
    //- li.logo2
    //-   img(src="assets/images/logo.svg", alt="Suljam")
