.serviceicons
  section
    h2.feat.wow.fadeIn(data-wow-duration='1s', data-wow-delay='0.5s') Why Reinvent the Wheel?
    p Understanding our limitations and not massaging our egos is important, as these things can start to get out of control. The design is about the client and their users not about our portfolio. So rather than taking months building something that may or may not be ideal we use existing solutions for 
      a(href='#') Content Managment Systems
      |, 
      a(href='#') Email Campaigns
      |, 
      a(href='#') E-Commerce Stores
      |  and 
      a(href='#') more
      |. But if they just happen to not fit like a glove, we fall back on our knowledge of 
      a(href='#') Ruby on Rails
      |  to build something bespoke and ideal.
  ul#scroller.simply-scroll
    li.appstore
      img(src="assets/images/icons/appstore_logo.svg", alt="AppStore")
    li.html5
      img(src="assets/images/icons/html5_logo.svg", alt="HTML5")
    li.jekyll
      img(src="assets/images/icons/jekyll_logo.svg", alt="Jekyll")
    li.kirby
      img(src="assets/images/icons/kirby_logo.svg", alt="Kirby")
    li.mailchimp
      img(src="assets/images/icons/mailchimp_logo.svg", alt="Mailchimp")
    li.ror
      img(src="assets/images/icons/rubyonrails_logo.svg", alt="Ruby on Rails")
    li.shopify
      img(src="assets/images/icons/shopify_logo.svg", alt="Shopify")
    //- li
    //-   img.sketch(src="assets/images/icons/sketch_icon.svg", alt="Sketch")
    li.wordpress
      img(src="assets/images/icons/wordpress_logo.svg", alt="WordPress")
    //- li.logo2
    //-   img(src="assets/images/logo.svg", alt="Suljam")
