h2.feat Our Latest Articles
ul
  li
    h3.feat Article Title
    img(src='assets/img/suljam_1.jpg')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cumque, recusandae. Facilis cupiditate quae delectus at itaque vel, earum sequi aperiam reiciendis rerum quis aliquam numquam hic similique aut quod et tempore, molestias amet doloremque iusto praesentium enim! Voluptate, laboriosam, ut ducimus ipsa necessitatibus modi rerum consectetur ex facilis sapiente ullam dicta, ipsum dignissimos.
    .btn
      a.readmore(href='#') Read More
  li
    h3.feat Article Title
    img(src='assets/img/suljam_2.jpg')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cumque, recusandae. Facilis cupiditate quae delectus at itaque vel, earum sequi aperiam reiciendis rerum quis aliquam numquam hic similique aut quod et tempore, molestias amet doloremque iusto praesentium enim! Voluptate, laboriosam, ut ducimus ipsa necessitatibus modi rerum consectetur ex facilis sapiente ullam dicta, ipsum dignissimos.
    .btn
      a.readmore(href='#') Read More
  li
    h3.feat Article Title
    img(src='assets/img/suljam_4.jpg')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cumque, recusandae. Facilis cupiditate quae delectus at itaque vel, earum sequi aperiam reiciendis rerum quis aliquam numquam hic similique aut quod et tempore, molestias amet doloremque iusto praesentium enim! Voluptate, laboriosam, ut ducimus ipsa necessitatibus modi rerum consectetur ex facilis sapiente ullam dicta, ipsum dignissimos.
    .btn
      a.readmore(href='#') Read More
