nav.navbar
  ul
    li
      a(href="/") Home
    li
      a(href="portfolio.html") Portfolio
    li
      a(href="about.html") About Us
    li
      a(href="contact.html") Contact
    li
      a(href="articles/") Articles
