nav.menusection.navbar
  ul
    li
      a.menulink(href="/") Home
    li
      a.menulink(href="portfolio.html") Portfolio
    li
      a.menulink(href="about.html") About Us
    li
      a.menulink(href="contact.html") Contact
    li
      a.menulink(href="articles/") Articles
