ul
  li
    .pop.wow.bounceIn(data-wow-duration='1s', data-wow-delay='1s')
      include svg/kirby_logo
    h3.feat.wow.fadeIn(data-wow-duration='2s', data-wow-delay='1s') Static Site Specialist
    p Whilst experienced in WordPress we are specialists in Static File CMS solutions providing a great deal more flexability and security. 
      a(href='#') Find out more. 
  li
    .pop.wow.bounceIn(data-wow-duration='1s', data-wow-delay='1s')
      include svg/html5_logo
    h3.feat.wow.fadeIn(data-wow-duration='2s', data-wow-delay='1s') Lean &amp; Fast Code
    p Think of code like a Ferrari. The leaner it is, the faster and more efficiant it will run. It will also look amazing and sexy under the hood.
  li
    .pop.wow.bounceIn(data-wow-duration='1s', data-wow-delay='1s')
      include svg/appstore_logo
    h3.feat.wow.fadeIn(data-wow-duration='2s', data-wow-delay='1s') UX &amp; UI Design
    p With the App Store becoming more and more popular with millions of apps avaliable we feel that standing out with an engadging User Interface and creating a pleasurable User Experience is paramount in the apps success.
  li
    .pop.wow.bounceIn(data-wow-duration='1s', data-wow-delay='1s')
      include svg/shopify_logo
    h3.feat.wow.fadeIn(data-wow-duration='2s', data-wow-delay='1s') E-Commerce &amp; Email
    p Security of online stores is paramount, as trust and great service builds customers so we create ours ontop of the outstanding 
      a(href='') Shopify 
      | platform. We also build our email designs specially for 
      a(href='') Mailchimp
      |.
