ul
  li
    h3 Static Site Specialist
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto molestiae vel qui, hic possimus obcaecati non nesciunt blanditiis provident quas, officiis nisi corporis.
  li
    h3 Lean &amp; Fast Code
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto molestiae vel qui, hic possimus obcaecati non nesciunt blanditiis provident quas, officiis nisi corporis.
  li
    h3 UX &amp; UI Design
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto molestiae vel qui, hic possimus obcaecati non nesciunt blanditiis provident quas, officiis nisi corporis.
  li
    h3 E-Commerce &amp; Email
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iusto molestiae vel qui, hic possimus obcaecati non nesciunt blanditiis provident quas, officiis nisi corporis.
