section
  h3.feat.wow.fadeIn(data-wow-duration='0.5s', data-wow-delay='0.5s') What Others are Saying
  blockquote
    p Suleiman is a pleasure to work with. He is enthusiastic, committed &amp; gets the job done.
    p What more can you ask?
    img.avatar(src='https://pbs.twimg.com/profile_images/626412814119378944/uxtkI1TN_400x400.jpg')
    cite 
      a(href='http://twitter.com/boagworld') - Paul Boag -
