h2 What can we do for you?
img.featured.left(src='https://images.unsplash.com/photo-1417733403748-83bbc7c05140?q=80&fm=jpg&s=21376e91eeedb02e4ee5bb72a15bbdd5')
img.featured.right(src='https://images.unsplash.com/photo-1425315283416-2acc50323ee6?q=80&fm=jpg&s=94c3e17a79354c33dbd59ced862b1460')
p Right placed text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere provident amet recusandae. Cum quam, maxime iure commodi eius quaerat numquam dolore, placeat voluptate ratione fugiat molestias facilis at sit est voluptates asperiores. Doloribus.
section
  p Huh? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat laboriosam eius, mollitia, a magni ipsam ad eum voluptates libero, pariatur repellendus veniam quaerat voluptatum. Illo, molestiae, nihil. At beatae doloremque illum laborum quam quia magni possimus repudiandae blanditiis minima quaerat rem eos, quos vel eius deserunt fuga vero recusandae explicabo ad quae numquam facilis nobis. Assumenda.
