h2 What can we do for you?
img.featured.left(src='http://lorempixel.com/g/800/600/')
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere provident amet recusandae. Cum quam, maxime iure commodi eius quaerat numquam dolore, placeat voluptate ratione fugiat molestias facilis at sit est voluptates asperiores. Doloribus.
img.featured.right(src='http://lorempixel.com/g/800/600/')
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet facere provident amet recusandae. Cum quam, maxime iure commodi eius quaerat numquam dolore, placeat voluptate ratione fugiat molestias facilis at sit est voluptates asperiores. Doloribus.
