workedWith
  h2.feat Worked with
  ul
    li.boagworld
      a(href='http://boagworld.com') 
        //- img(src='/assets/img/Boagworld_Logo_grey.png')
      //- Boagworld
    li.tijara
      a(href='#')
        //- img(src='/assets/img/tijaraPages_Logo_grey.png') 
      //- Tijara Pages
    li.sos
      a(href='#')
        //- img(src='/assets/img/SOS_Logo_grey.png') 
      //- Search Office Space
    li.westmid
      a(href='#')
        //- img(src='/assets/img/westMid_Logo_grey.png') 
      //- West Midlands Police
    li.pentangle
      a(href='#')
        //- img(src='/assets/img/pentangle_Logo_grey.png') 
      //- Pentangle
    li.orphanaid
      a(href='#')
        //- img(src='/assets/img/orphanAid_Logo_grey.png') 
        //- Orphan Aid
    li.staremix
      a(href='#')
        //- img(src='/assets/img/staremix_Logo_grey.png') 
      //- Staremix
