.parallax
	// include ../../../assets/images/mountains-1.svg
	// include ../../../assets/images/mountains-2.svg
	// include ../../../assets/images/buildings-1.svg
	// include ../../../assets/images/buildings-2.svg