
// Bower Imports
@import '../../../bower_components/normalize.styl/normalize.styl'
@import '../../../bower_components/animate.styl/animate.styl'

// Local Imports
@import 'variables'
@import 'mixins'

// ----------------------------------------------

// Settings
body
  font-size 14px // Base font



// Typography
*
  font-family 'Raleway', 'Helvetica Neue', sans-serif

p
  font-size 1.2rem
  letter-spacing 0.05em
  line-height 1.8em


// Images
img
  max-width 100%

// Active

p a
  text-decoration none
  color forth
  font-weight 500
  border-bottom 3px solid rgba(white, 0)
  transition: 0.7s ease-in-out all;
  &:hover
    border-bottom 2px solid fifth
    color darken(forth, 20)

h2.feat
  font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
  font-weight 100
  color primary
  font-size 52px
  padding 2em 0
  display block
  text-align center
h3.feat
  font-weight 100
  lost-column 1/1
  font-size 2rem
  text-align center
  color primary
  lost-utility clearfix
