//
// BOWER IMPORTS =======================
//
@import '../../../bower_components/normalize.styl/normalize.styl'
@import '../../../bower_components/jeet/stylus/jeet/index.styl'
// @import 'nib'
@import '../../../bower_components/animate.styl/animate.styl'

// IMPORTS =============================
@import 'variables'
@import 'mixins'

// SETTINGS =============================

// ======================================
//  Jeet Settings
// ======================================
$jeet-gutter = 3
$jeet-parent-first = false
$jeet-layout-direction = "LTR"
$jeet-max-width = 1410px
