
// Bower Imports
@import '../../../bower_components/normalize.styl/normalize.styl'
@import '../../../bower_components/animate.styl/animate.styl'

// Local Imports
@import 'variables'
@import 'mixins'

// ----------------------------------------------

// Settings
body
  font-size 14px // Base font



// Typography
*
  font-family 'Raleway', 'Helvetica Neue', sans-serif

p
  font-size 1.2rem
  letter-spacing 0.05em
  line-height 1.8em


// Images
img
  max-width 100%
