body
  background bg
  color fifth

.container
  width 90%
  margin auto

// Header Section

.logo
  position fixed
  z-index 4
  width 100%
  background-color rgba(70, 98, 159, 1)
  -webkit-clip-path polygon(0 100%,100% 20%,100% 0, 0 0)
  height 320px
  margin-top -200px
  h1
    padding 0
    margin 0

header
  position relative
  z-index 5
  background url('../images/bg-temp.jpg')
  background-size cover
  -webkit-clip-path polygon(0 100%,100% 70%,100% 0, 0 0)
  height 800px
  margin-top -20px
  h2
    position relative
    top 270px
    color white
    span
      font-style italic
  + h3
    float right
    text-align right
    width 50%
    z-index 10
    margin-top -30px

// Testimonials

.testimonials
  background-color rgba(70, 98, 159, 0.8)
  -webkit-clip-path polygon(0 100%,100% 60%,100% 0, 0 40%)
  height auto
  padding 200px 0
  section
    position relative
    top 40%
    h2, p, h6
      width 400px
      margin auto
      text-align center
      color rgba(white, 0.8)
    .avatar
      height 60px
      width 60px
      border-radius 100%
      display: block;
      margin auto
      // margin-left: auto;
      // margin-right: auto;
    cite a
      text-align center
      display block
      color white
      text-decoration none
      padding 1rem
nav
  ul
    padding 0
    margin 0
    display block
    padding-top 1rem
    float right
    li
      display inline
      padding 1rem
  a
    text-decoration none
    color white

// specialities
.specialities
  ul
    max-width 800px
    margin auto
    padding 0
  li
    list-style none
    lost-column 1/2
    p
      lost-column 6/8 8
      // lost-offset 1/8
      // lost-align center
      // float none!important
      // display block
      // margin auto
  h3
    font-weight 100
    lost-column 1/1
    font-size 2rem
    text-align center
    color primary
    lost-utility clearfix
  svg
    width 160px
    height 160px
    display block
    margin auto

// whatcanwedo

.whatcanwedo
  img.featured
    -webkit-clip-path polygon(0 100%,100% 74%,100% 0, 0 26%)
  .left
    height 600px
    width 60%
  .right
    float right
    width 20%
    height 300px


// footer
footer
  background-color rgba(70, 98, 159, 0.8)
  -webkit-clip-path polygon(0 100%,100% 100%,100% 0, 0 60%)
  height 414px
