body
  background white
  color fifth

.container
  width 90%
  margin auto

// Themes

// logo
.logo
  h1
    z-index 12
    position absolute
    bottom 40px
    left 100px
    color white
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica
    font-weight 200
    font-size 42px
  svg
    width 100px
    z-index 12
    position absolute
    bottom 70px
    left 20px

// Typography
