// logo
.logo
  h1
    z-index 12
    position absolute
    bottom 40px
    left 100px
    color white
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica
    font-weight 200
    font-size 42px
  svg
    width 100px
    z-index 12
    position absolute
    bottom 70px
    left 20px

// Typography

p
  line-height 1.6em
  letter-spacing 0.05em

header
  h2
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-size 64px
    font-weight 100
    letter-spacing -0.02em
    span
      font-family 'Baskerville', times, times-roman, serif
      font-style italic
      font-size 44px
      font-weight 600
      letter-spacing -0.1em
      border-bottom 1px solid white
      display inline-block
      position relative
      top -10px
      -webkit-transform rotate(-10deg) skew(-4deg)
  + h3
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-size 34px
    font-weight 100
    font-style italic
    letter-spacing -0.02em
    margin-right 20px
    position relative
    // top -2em
    display block
    // margin-top -30px
    span
      font-family 'Baskerville', times, times-roman, serif
    .number
      font-size 44px

.whatcanwedo
  lost-utility clearfix
  display block
  h2
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-weight 100
    color primary
    font-size 52px
    padding 2em 0
    display block
    text-align center
    // lost-align center
