extends templates/master
append config
  - var PageTitle = "This is working Woohoo!"
  - var PageSlug = "AwesomePage"
block body
  body
    .logo
      h1 Suljam
      include templates/svg/logo
    //- h3 
    //-   | Skilled web 
    //-   span &amp; 
    //-   | app development with over 
    //-   br
    //-   | two 
    //-   //- span.number 2 
    //-   | decades of design 
    //-   span &amp; 
    //-   | illustration experience
    .fillercontainer  
      include templates/filler
      include templates/filler
      include templates/filler
      include templates/filler
      include templates/filler
    include templates/footer
    
