extends assets/templates/master
append config
  - var PageTitle = "Suljam ~ Designed with Standards"
  - var jQuery = false
  - var Modernizr = false
  - var PageSlug = "suljam"
block body
  body
      header
        h1 Suljam
        h2 Designed <em>with</em> Standards
        include assets/images/SuljamLogoText.svg
      include assets/templates/includes/parallax
      .container
        .content
          h2.tagline Made by Us. Made for You.
          p about Suljam
          
          a.btn(href="#") Get in Touch
        
      include assets/templates/includes/footer