extends templates/master
append config
  - var PageTitle = "This is working Woohoo!"
  - var PageSlug = "AwesomePage"
block body
  body
    h1.wow.bounceInUp(data-wow-duration='0.4s', data-wow-delay='5s') Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nobis perspiciatis dolorum atque, eius id excepturi inventore beatae explicabo consequuntur architecto harum itaque, blanditiis voluptas reprehenderit ab ea odio eos! Iste quos nulla sapiente aperiam rerum beatae dicta iusto soluta, vel! In explicabo fugiat deleniti voluptates, laboriosam vitae rem porro quia molestias eaque eveniet. Ipsum, magni.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nihil iure earum vero, quo odio ipsa omnis dolore ex officiis impedit necessitatibus nisi, sint dignissimos ducimus delectus doloremque. Fugit quisquam illo sunt, vitae, et quos iusto earum debitis eius aliquid magni iure commodi, dicta non nesciunt, magnam eos. Nemo tenetur veritatis minus incidunt esse, tempore consectetur facere odit dolor nam facilis repellendus, assumenda non maxime illo laborum ipsam distinctio, quae, iure sit. Consequuntur fugit accusantium quo at quod.
      ul
        li This is something
        li This is something else
        li This is another thing
        li This is also something
        li This is the Last thing
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequatur enim quaerat molestiae voluptate hic nulla, id velit, quas odit vero. Delectus, eos deserunt fuga tempore quas quam iure voluptates corporis eum aperiam magnam molestias quaerat commodi error facilis veritatis fugit, odit! Natus debitis nemo inventore mollitia, illo tempora, vitae quam nobis quia numquam deserunt aut.
      img.wow.bounceInUp(data-wow-duration='2s', data-wow-delay='0.2s' src='https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&s=bce7579fe32b464cc2d53c5c144a2de4')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum libero officiis facere, porro excepturi, ducimus. Laudantium nulla ipsam ratione officia, cum excepturi! Distinctio aspernatur tenetur dolore itaque minus quos fugiat aliquid reiciendis, ex repellat. Cumque quae, facilis exercitationem libero labore enim ipsa molestiae porro nostrum, sed atque reprehenderit doloremque tempore laboriosam doloribus illo quas sequi, voluptas optio asperiores saepe iusto est dignissimos dolore quidem! Quo dolores minus distinctio ducimus officiis tempora suscipit ex adipisci temporibus quasi quia doloribus culpa ipsam, id, laborum voluptatem? Dolores dicta veritatis in aspernatur beatae.
    include templates/footer
