extends templates/master
append config
  - var PageTitle = "This is working Woohoo!"
  - var PageSlug = "AwesomePage"
block body
  body
    .logo
      h1 Suljam
    header
      include templates/header
    h3 
      | Skilled web &amp; app development with over two decades of design &amp; illustration experience.
    .fillercontainer  
      include templates/filler
      include templates/filler
      include templates/filler
      include templates/testimonials
    include templates/footer
