extends templates/master
append config
  - var PageTitle = "This is working Woohoo!"
  - var PageSlug = "AwesomePage"
block body
  body
    .logo
      h1 Suljam
      include templates/svg/logo
    //- h3 
    //-   | Skilled web 
    //-   span &amp; 
    //-   | app development with over 
    //-   br
    //-   | two 
    //-   //- span.number 2 
    //-   | decades of design 
    //-   span &amp; 
    //-   | illustration experience
    section
      h2.feat.wow.fadeIn Portfolio
      h3.subheader A Selection of Our Best, Favourite and Latest Work for your Viewing Pleasure
 
    //- .fillercontainer  
    //-   include templates/filler
    //-   include templates/filler
    //-   include templates/filler 
    //-   include templates/filler
    //-   include templates/filler

    include templates/footer
    
