doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='assets/css/styles.css', rel='stylesheet', type='text/css')
  body
    .container
      h1 Styleguide
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, doloremque. Vel quibusdam in atque minima rem dolore doloremque et similique quaerat animi repellendus odio beatae neque, numquam, obcaecati ad tempora totam, sapiente sequi eligendi.
      img(src='http://lorempixel.com/800/600/sports/')
      blockquote 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima iusto ad non!
        cite Optimus Prime
      ul
        li Donatello
        li Leonardo
        li Raphael
        li Michelangelo
        li Master Splinter
      
