// .btn
//   border 1px solid fifth
//   width 20%
//   margin-left 40%
//   margin-right 40%
//   padding 0.5rem 2rem
//   margin-top -2px
.readmore
  text-decoration none
  color fifth
  font-size 1.2rem
  padding 0.5rem 2rem
  border 1px solid fifth
  transition: 0.5s ease-in-out all;
  width 20%
  margin-left 42%
  // margin-right 40%
  text-align center
  background-color white
  &:hover
    color white
    background fifth
    border 1px solid darken(fifth, 20)
  &:active, &:focus
    color darken(fifth, 40)
