footer
  .navbar
    ul
      padding 0
      margin 0
      display inline
      text-align right
      float right
      position relative
      right 0px
      width 50%
      li
        font-size 1rem
.footerbar
  position absolute
  right 0
  bottom 0
  left 0
  padding 1rem
  h3
    display inline
    width 50%

// section.wow.slideInLeft(data-wow-duration='2s', data-wow-delay='5s')
