// Header Section

.logo
  position fixed
  z-index 4
  width 100%
  background-color rgba(70, 98, 159, 0.95)
  -webkit-clip-path polygon(0 100%,100% 20%,100% 0, 0 0)
  height 320px
  margin-top -770px
  opacity 0
  transition: 0.9s ease-in-out all;
  &.active
    margin-top -170px
    opacity 1

  h1
    padding 0
    margin 0

header
  position relative
  z-index 5
  background url('../images/bg-temp.jpg')
  background-size cover
  -webkit-clip-path polygon(0 100%,100% 70%,100% 0, 0 0)
  height 800px
  margin-top -60px
  h2
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-size 64px
    font-weight 100
    color white
    letter-spacing -0.02em
    position relative
    top 270px
    span
      font-style italic
      font-family 'Baskerville', times, times-roman, serif
      font-style italic
      font-size 44px
      font-weight 600
      letter-spacing -0.1em
      border-bottom 1px solid white
      display inline-block
      position relative
      top -10px
      -webkit-transform rotate(-10deg) skew(-4deg)
  + h3
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-size 34px
    font-weight 100
    font-style italic
    letter-spacing -0.02em
    text-align right
    float right
    width 50%
    z-index 10
    margin-top -30px
    margin-right 20px
    position relative
    display block
      span
        font-family 'Baskerville', times, times-roman, serif
      .number
        font-size 44px
