.latestArticles
  lost-center 960px
  ul
    padding 0
    margin 0
    li
      list-style none
      padding-bottom 1rem
      +above(600px)
        padding-bottom 10rem
  h3
    font-size responsive 32px 48px
  // img
  //   max-height 300px
