header .navbar, .default .navbar
  // transition: 0.7s ease-in-out all;
  width 100%
  position relative
  top -40px
  ul
    +above(600px)
      padding 2rem
      margin 0
      margin-top 50px
      text-align right
    display block
    li
      display inline
      font-size responsive 20px 30px
      +above(600px)
        padding 1rem
  a
    text-decoration none
    color primary
    padding-top 10px
    position relative
    text-decoration none
    &:before, &:after
      content ''
      position absolute
      transition transform .5s ease
    &:before
      left 0
      bottom 0
      width 100%
      height 2px
      background primary
      transform  scaleX(0)
    &:hover:before
      transform  scaleX(1)
.index
  header
    .navbar
      // transition: 0.7s ease-in-out all;
      width 100%
      top 50px
      ul
        +above(600px)
          padding 2rem
          margin-top 60px
          text-align right
        margin 0
        display block
        li
          display inline
          +above(600px)
            font-size responsive
            padding 1rem
      a
        text-decoration none
        color white
        padding-top 10px
        position relative
        text-decoration none
        &:before, &:after
          content ''
          position absolute
          transition transform .5s ease
        &:before
          left 0
          bottom 0
          width 100%
          height 2px
          background white
          transform  scaleX(0)
        &:hover:before
          transform  scaleX(1)\
footer
  .navbar
    // transition: 0.7s ease-in-out all;
    width 100%
    top 0
    ul
      padding 2rem
      margin 0
      display block
      margin-top 40px
      text-align right
      li
        display inline
        +above(600px)
          padding 1rem
        font-size responsive 14px 22px
    a
      text-decoration none
      color white
      padding-top 10px
      position relative
      text-decoration none
      &:before, &:after
        content ''
        position absolute
        transition transform .5s ease
      &:before
        left 0
        bottom 0
        width 100%
        height 2px
        background white
        transform  scaleX(0)
      &:hover:before
        transform  scaleX(1)
header
  .navbar
    +below(600px)
      background-color darken(primary, 10)
      ul
        display block
        padding 0
        margin 0
        li
          display block!important
          width 100%
          height 44px
          text-align center
          font-size 24px
