header
  .navbar
    // transition: 0.7s ease-in-out all;
    width 100%
    position relative
    top -40px
    ul
      padding 2rem
      margin 0
      display block
      margin-top 50px
      text-align right
      li
        display inline
        padding 1rem
        font-size 20px
    a
      text-decoration none
      color primary
      padding-top 10px
      position relative
      text-decoration none
      &:before, &:after
        content ''
        position absolute
        transition transform .5s ease
      &:before
        left 0
        bottom 0
        width 100%
        height 2px
        background primary
        transform  scaleX(0)
      &:hover:before
        transform  scaleX(1)
.index
  header
    .navbar
      // transition: 0.7s ease-in-out all;
      width 100%
      top 30px
      ul
        padding 2rem
        margin 0
        display block
        margin-top 40px
        text-align right
        li
          display inline
          padding 1rem
          font-size 20px
      a
        text-decoration none
        color white
        padding-top 10px
        position relative
        text-decoration none
        &:before, &:after
          content ''
          position absolute
          transition transform .5s ease
        &:before
          left 0
          bottom 0
          width 100%
          height 2px
          background white
          transform  scaleX(0)
        &:hover:before
          transform  scaleX(1)
footer
  .navbar
    // transition: 0.7s ease-in-out all;
    width 100%
    top 0
    ul
      padding 2rem
      margin 0
      display block
      margin-top 40px
      text-align right
      li
        display inline
        padding 1rem
        font-size responsive 14px 22px
    a
      text-decoration none
      color white
      padding-top 10px
      position relative
      text-decoration none
      &:before, &:after
        content ''
        position absolute
        transition transform .5s ease
      &:before
        left 0
        bottom 0
        width 100%
        height 2px
        background white
        transform  scaleX(0)
      &:hover:before
        transform  scaleX(1)
