// specialities
.specialities
  ul
    max-width 800px
    margin auto
    padding 0
  li
    list-style none
    lost-column 1/2
    padding 30px 0
    p
      width 60%
      display block
      margin auto
      font-size responsive 1.1em 1.4em
  svg
    width 160px
    height 160px
    display block
    margin auto
