// Testimonials

.testimonials
  background-color rgba(70, 98, 159, 0.8)
  -webkit-clip-path polygon(0 100%,100% 67%,100% 0, 0 33%)
  // height auto
  // padding 200px 0
  section
    // position relative
    // top 40%
    padding 200px 0
    p, h6
      lost-center 400px
      // margin auto
      text-align center
      color rgba(white, 0.8)
    p
      font-family 'Baskerville', times, times-roman, serif
      font-style italic
      font-size 1.8em
      line-height 1.2em
    .avatar
      height 60px
      width 60px
      border-radius 100%
      display: block;
      margin auto
      // margin-left: auto;
      // margin-right: auto;
    cite a
      text-align center
      display block
      color white
      text-decoration none
      padding 1rem
