// whatcanwedo
.whatcanwedo
  lost-utility clearfix
  display block
  section
    clear left
    padding 2em 0
    display block
    margin auto
    max-width 1020px
  img.featured
    -webkit-clip-path polygon(0 100%,100% 79%,100% 0, 0 21%)
    position relative
    display block
  .left
    height 600px
    lost-column 6/12
  .right
    lost-align right
    lost-column 3/12
    height 300px
  h2
    font-family 'HelveticaNeue-UltraLight','Helvetica-Neue', Helvetica, Raleway, sans-serif
    font-weight 100
    color primary
    font-size 52px
    padding 2em 0
    display block
    text-align center
  > p
    lost-column 4/12
    float right
    padding 2em 0
    lost-utility clearfix
