- var ProjectName = "Freshi Template Starter"
- var PageTitle = "Learning Jade"
- var PageSlug = ""
- var MetaDesc = ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quas culpa quasi repellendus suscipit nisi molestias, ipsum ea at ipsa labore.'
//- - var GoogleFonts = 'Wellfleet'
- var jQuery = false
- var Modernizr = false
//- Analytics Codes
//- - var Piwik = "12345"
//- - var GoogleAnalytics = "1234567"
- var BodyClasses = ['bodyclass_one','bodyclass_two']
